@import 'tailwindcss';

html, body {
    /* PREVENT USER GESTURES */
    overscroll-behavior: none;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    background-color: rgba(0,0,0,0.85);
    color: gainsboro;
}

img, .character-image {
    /* PREVENT USER GESTURES ON IMG */
    -webkit-user-drag: none;
    pointer-events: none;
}

/* RE-ENABLE NORMAL Y SCROLLING IN SETTINGS */
.settings-scroll-area {
    touch-action: pan-y;
    -webkit-user-select: auto;
    user-select: auto;
}

/* for settings panel */
/* .scrollbar-hide::-webkit-scrollbar { display: none; } */
/* .scrollbar-hide { scrollbar-width: none; -ms-overflow-style: none; } */

.settings-scroll::-webkit-scrollbar {
    width: 12px;
}

.settings-scroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 999px;
}

.settings-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 999px;
    border: 3px solid rgb(17, 24, 39);
}

.settings-scroll::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.5);
}
